<h1>Showing Data</h1>
<p>
	<strong>name</strong>
	<%= @patient.name %>
</p>
<p>
	<strong>email</strong>
	<%= @patient.email %>
</p>
<p>
	<strong>contactno</strong>
	<%= @patient.contactno %>
</p>
<p>
	<strong>gender</strong>
	<%= @patient.gender %>
</p>


